@model KMU.HisOrder.MVC.Models.KmuChart;

@using KMU.HisOrder.MVC.Models;
@using KMU.HisOrder.MVC.Areas.MedicalRecord.ViewModels;
@using KMU.HisOrder.MVC.Extesion;
@inject KMU.HisOrder.MVC.Models.KMUContext _context;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var Action = ViewData["Action"] as EnumClass.ActionCode?;
    var mrCreate = ViewData["mrCreate"] as MRCreateClass;
    var Title = ViewData["Title"] as string;

    var ncdTypes = _context.KmuCoderefs.Where(e => e.RefCodetype.Equals("ncd_types")).ToList();

    int Age = Model == null || !Model.ChrBirthDate.HasValue ? 0 : DateTime.Today.Year - Model.ChrBirthDate.Value.Year;
    List<int> AgeList = new List<int>();
    for (var i = 2; i <= 100; i++)
    {
        AgeList.Add(i);
    }

    #region Phone

    var NationalPhone = "";
    var AreaPhone = "";
    var MobilePhone = "";

    if (!string.IsNullOrWhiteSpace(Model.ChrMobilePhone))
    {
        var PhoneArr = Model.ChrMobilePhone.Split(' ');
        if (PhoneArr.Count() == 3)
        {
            NationalPhone = PhoneArr[0];
            AreaPhone = PhoneArr[1];
            MobilePhone = PhoneArr[2];
        }
        else if (PhoneArr.Count() == 2)
        {
            AreaPhone = PhoneArr[0];
            MobilePhone = PhoneArr[1];
        }
        else
        {
            MobilePhone = PhoneArr[0];
        }
    }

    #endregion
    #region
    var EmgNationalPhone = "";
    var EmgAreaPhone = "";
    var EmgMobilePhone = "";

    if (!string.IsNullOrWhiteSpace(Model.ChrContactPhone))
    {
        var EmgPhoneArr = Model.ChrContactPhone.Split(' ');
        if (EmgPhoneArr.Count() == 3)
        {
            EmgNationalPhone = EmgPhoneArr[0];
            EmgAreaPhone = EmgPhoneArr[1];
            EmgMobilePhone = EmgPhoneArr[2];
        }
        else if (EmgPhoneArr.Count() == 2)
        {
            EmgAreaPhone = EmgPhoneArr[0];
            EmgMobilePhone = EmgPhoneArr[1];
        }
        else
        {
            EmgMobilePhone = EmgPhoneArr[0];
        }
    }
    #endregion

    #region
    var EmgContractNameF = "";
    var EmgContractNameM = "";
    var EmgContractNameL = "";

    if (!string.IsNullOrWhiteSpace(Model.ChrEmgContact))
    {
        var EmgNameArr = Model.ChrEmgContact.Split(' ');
        if (EmgNameArr.Count() == 3)
        {
            EmgContractNameF = EmgNameArr[0];
            EmgContractNameM = EmgNameArr[1];
            EmgContractNameL = EmgNameArr[2];
        }
        else if (EmgNameArr.Count() == 2)
        {
            EmgContractNameF = EmgNameArr[0];
            EmgContractNameM = EmgNameArr[1];
        }
        else
        {
            EmgContractNameF = EmgNameArr[0];
        }
    }

    #endregion
}
<script src="~/js/Ajax.js"></script>
<style>
    .direction {
        font-weight: bold
    }

        .direction:hover {
            text-decoration: underline;
            font-weight: bold
        }

    label {
        background-color: inherit !important;
    }

</style>
<h6 class="direction mx-2" style="">@Title</h6>
<div class="form-group row  mx-0 border-bottom">
    <div class="col-lg-7 border-right">
        <div class="form-group row mx-0 ">
            <label class="form-control col-lg-3 font-weight-bold border-0 px-0"><font color="red">*</font>Patient ID Number:</label>
            <input type="text" id="Txt_PatientID" class="form-control col-lg-3 font-weight-bold text-center rounded" placeholder="Automatic Generate" readonly value="@Model.ChrHealthId" />
            <a class="btn btn-primary ml-2" onclick="copyId()"><i class="fa fa-copy"></i></a>
            <div class="col-lg-5">
                <button type="button" class="btn btn-primary float-right" onclick="fn_ShowModal('Anonymous')">Anonymous</button>
                <button type="button" class="btn btn-success float-right" onclick="fn_ShowModal('ReadBarCode'),fn_SetFocus()">Have PHC Card</button>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
    </div>
</div>

<div class="form-group row mx-0">
    <div class="col-lg-7 border-right">
        <h3 class="text-center"> Personal Information</h3>
        <div class="form-group row mx-0">
            <label class="form-control col-lg-2 border-0 font-weight-bold px-0 float-left"><font color="red">*</font>Mobile Phone:</label>
            <div class="col-lg-10 px-0">
                <div class="form-group row mx-0">
                    <select id="Select_NationalPhone" class="form-control col-lg-4 font-weight-bold text-center text-danger" onchange="fn_SetAreaPhone()">
                        @foreach (var national in mrCreate.NationPhoneList)
                        {
                            if (NationalPhone == national.RefDefaultFlag)
                            {
                                <option value="@national.RefDefaultFlag" selected>@national.RefName (@national.RefDefaultFlag)</option>
                            }
                            else
                            {
                                <option value="@national.RefDefaultFlag">@national.RefName (@national.RefDefaultFlag)</option>
                            }
                        }
                        <option value="Add">Add More+</option>
                    </select>
                    <input type="text" id="Txt_AreaPhone" class="form-control col-lg-4 rounded py-0 text-center" value="@AreaPhone" placeholder="Type Area Phone Code" onkeyup="fn_ClearNoNum($(this),value)" />
                    <input type="text" id="Txt_Phone" class="form-control col-lg-4 rounded py-0 text-center content" value="@MobilePhone" placeholder="Type Phone Number" onkeyup="fn_ClearNoNum($(this),value)" />
                </div>

            </div>
        </div>

        <div class="form-group row mx-0">
            <label class="form-control col-lg-2 border-0 font-weight-bold px-0 float-left"><font color="red">*</font>Patient Name:</label>
            <div class="col-lg-10 px-0">
                <div class="form-group row mx-0">
                    <input type="text" id="Txt_FirstName" class="form-control col-lg-4 rounded py-0 text-center" placeholder="First Name" value="@Model.ChrPatientFirstname" onkeyup="NameFirstCharToUpper_other_ToLower(this),fn_ChangeHPC(this)" />
                    <input type="text" id="Txt_MidName" class="form-control col-lg-4 rounded py-0 text-center" placeholder="Father's Name" value="@Model.ChrPatientMidname" onkeyup="NameFirstCharToUpper_other_ToLower(this),fn_ChangeHPC(this)" />
                    <input type="text" id="Txt_LastName" class="form-control col-lg-4 rounded py-0 text-center" placeholder="Grandfather's Name" value="@Model.ChrPatientLastname" onkeyup="NameFirstCharToUpper_other_ToLower(this),fn_ChangeHPC(this)" />
                </div>
            </div>
        </div>

        <div class="form-group row mx-0">
            <label class="form-control col-lg-2 border-0 font-weight-bold px-0 float-left"><font color="red">*</font>Birth(Age):</label>
            <select id="Select_AgeType" class="form-control col-lg-3 font-weight-bold text-center text-danger" onchange="fn_DecideBirthType()">
                <option value="Date">By Date</option>
                <option value="Age">By Age</option>
            </select>
            <select id="Select_Age" class="form-control col-lg-3 font-weight-bold text-center text-danger" onchange="fn_GetBirthYearByAge()" hidden>
                <option value="0" selected>0 Year old</option>
                <option value="1">1 Year old</option>
                @foreach (var age in AgeList)
                {
                    @*  if (age == Age)
                {
                <option value="@age" selected>@age.ToString() Years old</option>
                }
                else
                {
                }*@

                    <option value="@age">@age.ToString() Years old</option>

                }
            </select>
            <input type="date" id="Txt_Birth" class="form-control col-lg-3 rounded py-0" placeholder="Select Birth Date" max="@DateTime.Today.ToString("yyyy-MM-dd")" value="@(Model.ChrBirthDate.HasValue? Model.ChrBirthDate.Value.ToString("yyyy-MM-dd") :"")"
                   onkeyup="fn_ChangeHPC(this)" onblur="fn_ChangeHPC(this)" hidden />
            <label class="form-control col-lg-2 border-0 font-weight-bold text-center"><font color="red">*</font>Sex:</label>
            <select id="Select_Gender" class="form-control col-lg-2 font-weight-bold text-center text-danger" onchange="fn_ChangeHPC(this)">
                <option></option>
                @foreach (var sex in mrCreate.GendetList)
                {
                    if (sex.EnumToCode() == Model.ChrSex)
                    {
                        <option value="@sex.EnumToCode()" selected>@sex.EnumToString()</option>
                    }
                    else
                    {
                        <option value="@sex.EnumToCode()">@sex.EnumToString()</option>
                    }
                }
            </select>
        </div>
        <div class="form-group row mx-0">
            <label class="form-control col-lg-2 border-0 font-weight-bold px-0 float-left">National ID:</label>
            <input type="text" id="Txt_NationalID" class="form-control col-lg-4 rounded py-0 text-center" value="@Model.ChrNationalId" placeholder="National ID" />
            <label class="form-control col-lg-2 border-0 font-weight-bold px-0 float-left text-center">Area / Address:</label>
            <select id="Select_Area" class="form-control col-lg-3 font-weight-bold text-center">

                @*
                <option value=""></option>

                @foreach (var area in mrCreate.AreaList)
                {
                if (area.RefCode == Model.ChrAreaCode)
                {
                <option value="@area.RefCode" selected>@area.RefName</option>

                }
                else
                {
                <option value="@area.RefCode">@area.RefName</option>
                }
                }*@
            </select>

            <span onclick="ShowModal('@Url.Action("AddMore","MedRecord",Context.Request.Scheme)',' Add Address')" class="float-end btn border-none"><i class="fa fa-plus" style="color:dodgerblue;font-size:1.5rem;"></i></span>

            <input type="text" id="Txt_Address" class="form-control col-lg-10 rounded py-0 text-center" placeholder="Address" value="@Model.ChrAddress" />
            <div class="col-lg-2 px-0">
                <div class="form-group row mx-0">
                    <label class="form-control col-lg-8 border-0 font-weight-bold px-0 float-left">Refugee:</label>
                    @if (Model.ChrRefugeeFlag == 'Y')
                    {
                        <input type="checkbox" id="chk_Refugee" class="form-control col-lg-4 rounded py-0 text-center" checked />
                    }
                    else
                    {
                        <input type="checkbox" id="chk_Refugee" class="form-control col-lg-4 rounded py-0 text-center" />
                    }
                </div>
            </div>
        </div>


        <div style="margin-top: -20px">
            <ul class="nav nav-tabs m-0 p-0">
                <li><a data-toggle="tab" class="nav-link active" href="#home">Patients Remarks</a></li>
            </ul>
            <div class="row ml-1">
                <input hidden id="ptncdRemark" class="form-control" />
                <ul class="row mt-2 col-sm-12" id="Ward" style="list-style-type: none; margin-bottom: 0px;">
                    <li>
                        <label class="text-dark"><b>NCD:</b></label>
                    </li>
                    @foreach (var item in ncdTypes)
                    {
                        <li style="padding-left: 10px;"> <input height="100" width="100" type="checkbox" class="checkbox ward" value="@item.RefName" />  @item.RefName</li>
                    }
                </ul>
            </div>
            <div class="row ml-1">
                <label class="mt-2"><b class="text-dark">Others:</b></label>
                <textarea id="Pt_Remark" class="form-control small m-1 col-sm-11 px-0 rounded collapse show" rows="1" placeholder="Ex: asthma, diabete or allergy to some medicine">@Html.Raw(Model.ChrRemark)</textarea>
            </div>
        </div>

        <div class="form-group row mx-0 border border-danger rounded p-1">
            <label class="form-control col-lg-8 border-0 font-weight-bold px-0 float-left">Emergency Contact:</label>
            <label class="form-control col-lg-2 border-0 font-weight-bold text-center">Relationship:</label>
            <select id="Select_Relation" class="form-control col-lg-2 font-weight-bold text-center">
                <option value=""></option>
                @foreach (var rs in mrCreate.RelationList)
                {
                    if (rs.RefCode == Model.ChrContactRelation)
                    {
                        <option value="@rs.RefCode" selected>@rs.RefName</option>
                    }
                    else
                    {
                        <option value="@rs.RefCode">@rs.RefName</option>
                    }

                }
            </select>

            <label class="form-control col-lg-1 border-0 font-weight-bold px-0 float-left">Name:</label>
            <div class="col-lg-11 px-0">
                <div class="form-group row mx-0">
                    <input type="text" id="Txt_EmgContact_F" class="form-control col-lg-4 rounded py-0 text-center" placeholder="First Name" value="@EmgContractNameF" onkeyup="NameFirstCharToUpper_other_ToLower(this)" />
                    <input type="text" id="Txt_EmgContact_M" class="form-control col-lg-4 rounded py-0 text-center" placeholder="Father's Name" value="@EmgContractNameM" onkeyup="NameFirstCharToUpper_other_ToLower(this)" />
                    <input type="text" id="Txt_EmgContact_L" class="form-control col-lg-4 rounded py-0 text-center" placeholder="Grandfather's Name" value="@EmgContractNameL" onkeyup="NameFirstCharToUpper_other_ToLower(this)" />
                </div>
            </div>

            <label class="form-control col-lg-2 border-0 font-weight-bold px-0 float-left">Phone No:</label>
            <div class="col-lg-10 px-0">
                <div class="form-group row mx-0">
                    <select id="Select_EmgNationalPhone" class="form-control col-lg-4 font-weight-bold text-center text-danger" onchange="fn_SetEmgAreaPhone()">
                        <option></option>
                        @foreach (var national in mrCreate.NationPhoneList)
                        {
                            if (EmgNationalPhone == national.RefDefaultFlag)
                            {
                                <option value="@national.RefDefaultFlag" selected>@national.RefName (@national.RefDefaultFlag)</option>
                            }
                            else
                            {
                                <option value="@national.RefDefaultFlag">@national.RefName (@national.RefDefaultFlag)</option>
                            }
                        }
                        <option value="Add">Add More+</option>
                    </select>
                    <input type="text" id="Txt_EmgAreaPhone" class="form-control col-lg-4 rounded py-0 text-center" value="@EmgAreaPhone" placeholder="Area Phone Code" onkeyup="fn_ClearNoNum($(this),value)" />
                    <input type="text" id="Txt_EmgPhone" class="form-control col-lg-4 rounded py-0 text-center" value="@EmgMobilePhone" placeholder="Phone Number" onkeyup="fn_ClearNoNum($(this),value)" />
                </div>

            </div>
        </div>
    </div>

    <div class="col-lg-5 border-left">
        <h3 class="text-center"> Personal Health Card</h3>
        <div class="row justify-content-center align-items-center my-3">
            <div class="border border-dark rounded" style="width:500px;height:270px">
                <h3 class="text-center border-bottom mb-0">Republic of Somaliland Health Card</h3>
                <div class="form-group row mx-0" style="height:200px">
                    <div class="col-4 mt-3 px-0">
                        @*<i class="fa-sharp fa-solid fa-user fa-10x"></i>*@
                        <div id="QrCodeInfo" class="row mx-0 mt-3 align-items-center justify-content-center"></div>
                    </div>
                    <div class="col-8 mt-3 px-0">
                        <div class="form-group row mx-0">
                            <label class="col-12 border-0 font-weight-bold mb-0">Name:</label>
                            <label id="Lb_FirstName" class="col-12 border-0 ptcard_text" style="font-size:13pt">@(!string.IsNullOrEmpty(Model.ChrPatientFirstname) ? Model.ChrPatientFirstname : "")</label>
                            <label id="Lb_MidName" class="col-6 border-0 ptcard_text" style="font-size:13pt">@(!string.IsNullOrEmpty(Model.ChrPatientMidname) ? Model.ChrPatientMidname : "")</label>
                            <label id="Lb_LastName" class="col-6 border-0 ptcard_text" style="font-size:13pt">@(!string.IsNullOrEmpty(Model.ChrPatientLastname) ? Model.ChrPatientLastname : "")</label>

                            <label class="col-12 border-0 font-weight-bold mb-0">Health ID:</label>
                            <label id="Lb_PatientID" class="col-12 border-0 ptcard_text" style="font-size:13pt">@Model.ChrHealthId</label>
                            <label class="col-6 border-0 font-weight-bold mb-0">Sex:</label>
                            <label class="col-6 border-0 font-weight-bold mb-0">Birth:</label>
                            @if (string.IsNullOrEmpty(Model.ChrSex))
                            {
                                <label id="Lb_Gender" class="col-6 border-0"></label>
                            }
                            else
                            {
                                foreach (var sex in mrCreate.GendetList)
                                {
                                    if (sex.EnumToCode() == Model.ChrSex)
                                    {
                                        <label id="Lb_Gender" class="col-6 border-0 ptcard_text" style="font-size:13pt">@sex.EnumToString()</label>
                                        break;
                                    }

                                }
                            }

                            <label id="Lb_Birth" class="col-6 border-0 ptcard_text" style="font-size:13pt">@(Model.ChrBirthDate.HasValue ? Model.ChrBirthDate.Value.ToString("dd/MM/yyyy") : "")</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center align-self-end">
            @if (Action == EnumClass.ActionCode.Create)
            {
                <div class="col-12 mt-1 row justify-content-center py-2" style="border-top:dashed 1px black">
                    <button type="button" class="btn btn-sm btn-primary col-6 float-right" onclick="fn_CreateMedicalReocrd('@EnumClass.EnumAnonymous.Normal.EnumToCode()')">Personal Data Create</button>
                    @*<button type="button" class="btn btn-sm btn-warning  col-4 float-right" onclick="fn_ClearText()">Register Another One</button>*@
                    <button type="button" class="btn btn-sm btn-warning  col-4 float-right" onclick="location.href='@Url.Action("MRCreate","MedRecord")'">Register Another One</button>
                </div>
            }
            else
            {
                <button type="button" class="btn btn-sm col-8 form-control rounded btn-success" onclick="fn_PrintPersonalCard('@Model.ChrHealthId')">Print Your Personal Card</button>
                <div class="col-12 mt-1 row justify-content-center py-2" style="border-top:dashed 1px black">
                    <button type="button" class="btn btn-sm btn-primary col-6 float-right" onclick="fn_UpdateMedicalReocrd('@EnumClass.EnumAnonymous.Normal.EnumToCode()')">Personal Data Update</button>
                    @*<button type="button" class="btn btn-sm btn-warning  col-4 float-right" onclick="fn_ClearText()">Register Another One</button>*@
                    <button type="button" class="btn btn-sm btn-warning  col-4 float-right" onclick="location.href='@Url.Action("MRCreate","MedRecord")'">Register Another One</button>
                </div>
            }
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="AnonymousModal" tabindex="1" role="dialog" aria-labelledby="AnonymousModal" aria-hidden="true" style="overflow:hidden">
    <div class="modal-dialog modal-lg" style="width:85%;height:75%">
        <div class="modal-content" style="background-color:#d9edf7;">
            <div class="modal-title">
            </div>

            <!--<div class="modal-header" style="background-color:#d9edf7;border-radius:5px 5px"></div>-->
            <div class="modal-body" style="padding-bottom:0;">
                <div id="BookDateListHeader" class="col-md-12">
                    <div class="text-center"><h3>Choose Anonymous Type</h3></div>
                </div>
                <div id="BookDateListBody" class="col-md-12">
                    <div class="form-group row justify-content-center mx-0">
                        @foreach (var anonymous in mrCreate.AnonymousList)
                        {
                            if (@anonymous.EnumToString().Contains("Female"))
                            {
                                <button type="button" class="btn btn-outline-danger btn-lg col-lg-5 round my-3" onclick="fn_CreateMedicalReocrd('@anonymous.EnumToCode()')">@anonymous.EnumToString()</button>
                            }
                            else
                            {
                                <button type="button" class="btn btn-outline-primary btn-lg col-lg-5 round my-3" onclick="fn_CreateMedicalReocrd('@anonymous.EnumToCode()')">@anonymous.EnumToString()</button>
                            }

                        }
                    </div>
                </div>
            </div>
            <div class="modal-footer hidden" style="padding-top:0;margin-top:0;">
                @*<button class="btn btn-info" style="float:right;width:120px;" onclick="fn_CloseModal()">Close</button>*@
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ReadBarCodeModal" tabindex="1" role="dialog" aria-labelledby="ReadBarCodeModal" aria-hidden="true" style="overflow:hidden">
    <div class="modal-dialog modal-lg" style="width:85%;height:75%">
        <div class="modal-content" style="background-color:#d9edf7;">
            <div class="modal-title">
            </div>

            <!--<div class="modal-header" style="background-color:#d9edf7;border-radius:5px 5px"></div>-->
            <div class="modal-body" style="padding-bottom:0;">
                <div id="BookDateListHeader" class="col-md-12">
                    <div class="text-center"><h3>Scan Personal Health Card Barcode</h3></div>
                </div>
                <div id="BookDateListBody" class="col-md-12">
                    <div class="form-group row justify-content-center mx-0">
                        <input type="text" id="Txt_ScanBarcode" class="form-control col-lg-12 round py-0 text-center" autofocus />
                    </div>
                </div>
            </div>
            <div class="modal-footer hidden" style="padding-top:0;margin-top:0;">
                @*<button class="btn btn-info" style="float:right;width:120px;" onclick="fn_CloseModal()">Close</button>*@
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="PhoneNationalModal" tabindex="1" role="dialog" aria-labelledby="PhoneNationalModal" aria-hidden="true" style="overflow:hidden">
    <div class="modal-dialog modal-lg" style="width:85%;height:75%">
        <div class="modal-content" style="background-color:#d9edf7;">
            <div class="modal-title">
            </div>

            <!--<div class="modal-header" style="background-color:#d9edf7;border-radius:5px 5px"></div>-->
            <div class="modal-body" style="padding-bottom:0;">
                <div id="BookDateListHeader" class="col-md-12">
                    <div class="text-center"><h3>Add National Area Code</h3></div>
                </div>
                <div id="BookDateListBody" class="col-md-12">
                    <div class="form-group row justify-content-center mx-0">
                        <input type="text" id="NationalName" class="form-control col-3 round py-0 text-center" placeholder="Country Name" autofocus />
                        <input type="text" id="NationalPhoneCode" class="form-control col-3 round py-0 text-center" placeholder="Country Code" />
                        <button type="button" class="btn btn-sm btn-danger  col-3 float-right" onclick="fn_AddPhoneCode()">Create</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer hidden" style="padding-top:0;margin-top:0;">
                @*<button class="btn btn-info" style="float:right;width:120px;" onclick="fn_CloseModal()">Close</button>*@
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="patientmodel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title text-danger" id="patientmodel"><i class="fa fa-patient "></i>This phone number has been taken by these patients already</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <table id="checkTable" class="table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Patient ID</th>
                                <th>Full Name</th>
                                <th>Mobile Phone</th>
                                <th>Sex</th>
                                <th></th>
                                <th></th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<a hidden id="checker" data-toggle="modal" data-target="#patientmodel" class="btn btn-dark"><i class="fa fa-hotel"></i>P</a>

@section scripts
    {
    <script>

        var APPLICATION_ROOT = '@Url.Content("~/")';

        $(document).ready(function () {


            $("#Txt_Phone").on("change", function () {
                var phone = $("#Txt_Phone").val();
                $("#checkTable tbody #tr1").remove();
                $.ajax({
                    type: "post",
                    url: "/medicalrecord/medrecord/phonechecker?phone=" + phone,
                    success: function (response) {
                        $.each(response, function (key, value) {
                            if (value != null || value != undefined || value != 0) {
                                var patientid = value.chrHealthId;
                                $("#checkTable tbody").append(`<tr id="tr1">
                                                        <td class="edit"> <a onclick="location.href='MREdit?PatientID=${patientid}';">  <i class="fa fa-edit btn cursor-pointer"> </i></a> </td>
                                                         <td class="patientId"></td>
                                                         <td class="fullname"></td>
                                                         <td class="phone"></td>
                                                         <td class="sex"></td>
                                                         <td class="opd"> <a onclick="location.href='/Reservation/Reserve/Reserve?reserveType=OPD';" class="btn btn-sm btn-outline-info copy-text">OPD</a></td>
                                                         <td class="er"> <a onclick="location.href='/Reservation/Reserve/Reserve?reserveType=EMG';" class="btn btn-sm btn-outline-warning text-dark copy-text">ER</a></td>
                                                        </tr>`);
                                $('.patientId:last').text(value.chrHealthId)
                                $('.fullname:last').text(value.chrPatientFirstname + " " + value.chrPatientMidname + " " + value.chrPatientLastname);
                                $('.phone:last').text(value.chrMobilePhone);
                                if (value.chrSex == "M") {
                                    $('.sex:last').text("Male");

                                }
                                else if (value.chrSex == "F") {

                                    $('.sex:last').text("Female");

                                }

                                $("#checkTable tbody #tr1").each(function (row, tr) {
                                    var gender = $(tr).find('td:eq(4)').text();
                                    if (gender == "Male") {
                                        $(this).addClass("text-primary");

                                    }
                                    else if (gender == "Female") {
                                        $(this).addClass("text-danger");
                                    }

                                    console.log(gender);
                                })//end table each

                                console.log(value);
                                $("#checker").click();

                            }//end if null or not

                        })//end $.each()
                    }//end success
                });//ajax end

            });//change

            $("#Select_Area").mousedown(function () {
                var items = '<option disabled selected> </option>';
                $.ajax({
                    type: "post",
                    url: "/MedicalRecord/MedRecord/GetAddress",
                    success: function (response) {
                        $.each(response, function (key, value) {
                            items += "<option value=" + value.refCode + ">" + value.refName + "</option>";

                        });
                        $("#Select_Area").html(items);

                    }
                })
            });


            fn_GenerateQrCode();
            fn_DecideBirthType();
            //fn_SetAreaPhone();

            var National = $("#Select_NationalPhone").val();
            if (National == "+252") {
                $("#Txt_AreaPhone").val("063");
            }

        });

        function fn_ShowModal(ModalType) {
            $("#" + ModalType + "Modal").modal({ backdrop: 'true', keyboard: false });
            $("#" + ModalType + "Modal").on('shown.bs.modal', function () {
                var $this = $(this);
                var $modal_dialog = $this.find('.modal-dialog');
                var m_top = ($(window).height() - $modal_dialog.height()) / 2;
                $modal_dialog.css({ 'margin': m_top + 'px auto' });

                if (ModalType == "ReadBarCode") {
                    $("#Txt_ScanBarcode").focus();
                }

            });
        }

        function fn_DecideBirthType() {
            var Type = $("#Select_AgeType").val();

            $("#Select_Age").attr("hidden", true);
            $("#Txt_Birth").attr("hidden", true);

            if (Type == "Date") {
                $("#Txt_Birth").removeAttr("hidden");
            }
            else if (Type == "Age") {
                $("#Select_Age").removeAttr("hidden");
                fn_GetBirthYearByAge();
            }
        }

        //function fn_SetAreaPhone() //2023.02.24 move to "wwwroot/js/custom.js"


        function fn_GetBirthYearByAge() {
            var Age = $("#Select_Age").val();
            var Birth = $("#Txt_Birth").val();
            var myDate = new Date();
            if (Birth != "") {
                var Month = new Date(Birth).getMonth();
                var Day = new Date(Birth).getDate();
                myDate.setMonth(Month);
                myDate.setDate(Day);
            }
            else {

            }

            myDate.setFullYear(myDate.getFullYear() + Age * -1)
            $("#Txt_Birth").val(myDate.toISOString().substr(0, 10));
            fn_ChangeHPC($("#Txt_Birth")[0]);
        }

        function fn_AddPhoneCode() {
            let NationalName = $("#NationalName").val();
            let NationalPhoneCode = $("#NationalPhoneCode").val();

            var inUrl = "MedicalRecord/Ajax/GeneratePhoneCode";
            var inData = {
                NationalName: NationalName,
                NationalPhoneCode: NationalPhoneCode
            };
            var inSuccessFunc = function (responseData) {
                var msg = JSON.parse(responseData);
                if (msg["ReturnT"]["isSuccess"]) {

                    $("#Select_NationalPhone").each(function () {
                        $(this).find('option').remove();
                    });

                    var phoneList = msg["phoneList"];
                    for (var i = 0; i < phoneList.length; i++) {

                        var optionElement = $('<option>').text(phoneList[i]["Name"]).attr('value', phoneList[i]["Code"]);

                        $('#Select_NationalPhone').append(optionElement);
                    }

                    var optionAddMore = $('<option>').text("Add More+").attr('value', 'Add');
                    $('#Select_NationalPhone').append(optionAddMore);

                    $("#PhoneNationalModal").modal('hide');
                }
                else {
                    layer.alert(msg["ReturnT"]["StatusMessage"], {
                        skin: 'layui-layer-lan',
                        closebtn: 1,
                        anim: 5,
                        icon: 2,
                        btn: ['OK'],
                        title: 'Error Message'
                    }, function (index) {
                        layer.close(index);
                    });
                }
            }
            ajax(inUrl, inData, inSuccessFunc, null);
        }


        //Create An New Medical Record
        function fn_CreateMedicalReocrd(type) {

            let JsonData = fn_GetItemToJsonStr(type);

            if (JsonData == null) {
                layer.alert('Data Error', {
                    skin: 'layui-layer-lan',
                    closebtn: 1,
                    anim: 5,
                    icon: 2,
                    btn: ['OK'],
                    title: 'Error Message'
                }, function (index) {
                    layer.close(index);
                });

                return;
            }

            var inUrl = "MedicalRecord/Ajax/CreateNewMR";
            var inData = {
                MRJsonData: JsonData
            };
            var inSuccessFunc = function (responseData) {
                var msg = JSON.parse(responseData);
                if (msg["ReturnT"]["isSuccess"]) {

                    layer.alert('Successfully created ! Your PatientID is ' + msg["PatientID"], {
                        skin: 'layui-layer-lan',
                        closeBtn: false,
                        anim: 5,
                        icon: 1,
                        btn: ['OK'],
                        title: 'Success Message'
                    }, function (index) {
                        fn_RedirectPage(msg["PatientID"]);
                        //layer.close(index);
                    });

                    fn_RedirectPage(msg["PatientID"]);
                }
                else {
                    layer.alert(msg["ReturnT"]["StatusMessage"], {
                        skin: 'layui-layer-lan',
                        closebtn: 1,
                        anim: 5,
                        icon: 2,
                        btn: ['OK'],
                        title: 'Error Message'
                    }, function (index) {
                        layer.close(index);
                    });
                }
            }
            ajax(inUrl, inData, inSuccessFunc, null);
        }

        //Update Medical Record Data
        function fn_UpdateMedicalReocrd(type) {

            let JsonData = fn_GetItemToJsonStr(type);

            if (JsonData == null) {
                alert("Data Error");
                return;
            }

            var inUrl = "MedicalRecord/Ajax/UpdateMRData";
            var inData = {
                MRJsonData: JsonData
            };
            var inSuccessFunc = function (responseData) {
                var msg = JSON.parse(responseData);
                if (msg["ReturnT"]["isSuccess"]) {

                    layer.alert('Update Data Success', {
                        skin: 'layui-layer-lan',
                        closebtn: 1,
                        anim: 5,
                        icon: 1,
                        btn: ['OK'],
                        title: 'Success Message'
                    }, function (index) {
                        window.location.reload();
                        layer.close(index);
                    });
                }
                else {
                    layer.alert(msg["ReturnT"]["StatusMessage"], {
                        skin: 'layui-layer-lan',
                        closebtn: 1,
                        anim: 5,
                        icon: 2,
                        btn: ['OK'],
                        title: 'Error Message'
                    }, function (index) {
                        layer.close(index);
                    });
                }
            }
            ajax(inUrl, inData, inSuccessFunc, null);
        }

        //Redirect Page
        function fn_RedirectPage(PatientID) {
            var inUrl = "MedicalRecord/Ajax/RedirectPage";
            var inData = {
                PatientID: PatientID
            };
            var inSuccessFunc = function (responseData) {
                window.location.href = responseData;
            }
            ajax(inUrl, inData, inSuccessFunc, null);
        }

        //Print Personal Card
        function fn_PrintPersonalCard(patientID) {
            window.open(APPLICATION_ROOT + "MedicalRecord/Print/PrintPersonalCard?patientID=" + patientID);
        }

        //Json Stringify
        function fn_GetItemToJsonStr(AnonymousType) {
            var arr = [];

            $("#Ward li ").each(function (row, tr) {
                var value = $(tr).find(".ward:checked").val()
                if (value != undefined) {
                    var ids = $(tr).find(".ward").val()
                    arr.push(ids)
                }
            })
            $('#ptncdRemark').val(arr);

            var National = $("#Select_NationalPhone").val();
            var AreaPhoneCode = $("#Txt_AreaPhone").val();
            var Mobile = $("#Txt_Phone").val();

            var EmgNational = $("#Select_EmgNationalPhone").val();
            var EmgAreaPhoneCode = $("#Txt_EmgAreaPhone").val();
            var EmgMobile = $("#Txt_EmgPhone").val();
            var ptRemark = $("#Pt_Remark").val();
            var ncdPt = $("#ptncdRemark").val();

            var Refugee = "N";

            if ($("#chk_Refugee").prop("checked")) {
                Refugee = "Y";
            }

            var ItemList = [];
            ItemList.push({
                PATIENTID: $("#Txt_PatientID").val(),
                FIRSTNAME: $("#Txt_FirstName").val(),
                MIDNAME: $("#Txt_MidName").val(),
                LASTNAME: $("#Txt_LastName").val(),
                BIRTHDATE: $("#Txt_Birth").val(),
                GENDER: $("#Select_Gender").val(),
                NATIONALPHONE: National,
                AREAPHONE: AreaPhoneCode,
                MOBILEPHONE: Mobile,
                NATIONID: $("#Txt_NationalID").val(),
                ADDRESS: $("#Txt_Address").val(),
                REFUGEE_FLAG: Refugee,
                AREACODE: $("#Select_Area").val(),
                EMGCONTACT_F: $("#Txt_EmgContact_F").val(),
                EMGCONTACT_M: $("#Txt_EmgContact_M").val(),
                EMGCONTACT_L: $("#Txt_EmgContact_L").val(),
                RELATIONSHIP: $("#Select_Relation").val(),
                EMGNATIONALPHONE: EmgNational,
                EMGAREAPHONE: EmgAreaPhoneCode,
                //EMGNATIONALPHONE: "",
                //EMGAREAPHONE: "",
                EMGMOBILEPHONE: EmgMobile,
                REMARK: ptRemark + ncdPt,
                ANONYMOUSTYPE: AnonymousType
            });

            if (ItemList.length > 0) {
                return JSON.stringify(ItemList);
            }
            else {
                return null;
            }
        }

        //Card Text animiate Action
        function fn_ChangeHPC(obj) {
            var IDArr = obj.id.split("_");
            var value = obj.value.replace("-", "/").replace("-", "/");

            if (obj.tagName == "TEXT") {
                value = obj.value
            }
            else if (obj.tagName == "SELECT") {
                value = obj.options[obj.selectedIndex].innerHTML;
            }


            if (value == "") {
                $("#Lb_" + IDArr[1]).html("");
                $("#Lb_" + IDArr[1]).html(IDArr[1]);
            }
            else {
                $("#Lb_" + IDArr[1]).html("");
                $("#Lb_" + IDArr[1]).html(value);
            }

            fn_GenerateQrCode();
        }

        //QrCode
        function fn_GenerateQrCode() {
            var QrCodeStr = "";
            var ItemList = [];
            ItemList.push({
                PATIENTID: $("#Lb_PatientID").html(),
                FIRSTNAME: $("#Lb_FirstName").html(),
                MIDNAME: $("#Lb_MidName").html(),
                LASTNAME: $("#Lb_LastName").html(),
                GENDER: $("#Lb_Gender").html(),
                BIRTHDATE: $("#Lb_Birth").html()
            });

            $("#QrCodeInfo").html("");
            var qrcode = new QRCode(document.getElementById("QrCodeInfo"), {
                text: JSON.stringify(ItemList),
                width: 128,
                height: 128,
                colorDark: "#868e96",
                colorLight: "#FFFFFF",
                correctLevel: QRCode.CorrectLevel.H
            });
            //new QRCode(document.getElementById("QrCodeInfo"), JSON.stringify(ItemList));
        };

        //Clear Text
        function fn_ClearText() {

            $("input").val("");
            $("textarea").val("");
            $(".ptcard_text").html("");
        }

        function fn_ClearNoNum(e, pnumber) {
            if (!/^\d+?\d*$/.test(pnumber)) {
                $(e).val(/^\d+?\d*/.exec($(e).val()));
            }
            return false;
        }

        function copyId() {
            // Get the text field
            var copyText = document.getElementById("Txt_PatientID");
            // Select the text field
            copyText.select();
            copyText.setSelectionRange(0, 99999); // For mobile devices
            // Copy the text inside the text field
            navigator.clipboard.writeText(copyText.value);
        }

    </script>
}