@model KMU.HisOrder.MVC.Areas.MedicalRecord.ViewModels.PrintClass

<table style="width:100%;">
@*    <tr>
        <td>
            <div style="text-align:center;">
                <h2>@Model.HospName</h2>
            </div>
        </td>
    </tr>*@
    <tr>
        <td>
            <div style="text-align:left; margin-bottom: 60px;">
                <img src="~/images/MoHDLogo.png" style="width: 100%;; position: absolute;" />
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <hr style="margin-bottom:0px; border-color:#999;" />
        </td>
    </tr>
</table>

@*<div class="row">
    <div class="col">
        <div style="text-align:center;">
            <h2>@Model.HospName</h2>
            <h3>@Model.FormTitle</h3>
        </div>
    </div>
</div>
<div class="row">
    <div class="col" style="vertical-align:top;">
        <b>ClinicInfo：</b><br />
        @Model.GlobalVariable.Clinic.RegDate &nbsp;&nbsp;&nbsp; @Model.GlobalVariable.Clinic.DeptName
    </div>
    <div class="col" style="vertical-align:top;">
        <b>PatientInfo：</b><br />
        Age：@Model.GlobalVariable.Patient.Age &nbsp;&nbsp;&nbsp; ChartNo：@Model.GlobalVariable.Patient.RegPatientId <br />
        PatientName：@Model.GlobalVariable.Patient.FirstName @Model.GlobalVariable.Patient.MidName @Model.GlobalVariable.Patient.LastName
    </div>
</div>*@