@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<style>
	html {
		font-size: 15px;
	}

	h1 {
		font-size: 1.8rem;
	}

	table {
		font-size: 1rem;
		min-width: 40vw;
	}

	label {
		background-color: inherit !important;
		font-weight: bold !important;
		border: 0px !important;
		white-space: nowrap !important;
	}

	input {
		/*font-weight: bold !important;*/
		text-align: center;
		border-radius: 50rem !important;
	}
</style>

@if( TempData["Show_User_Messages"] != null)
{
	<table align="center">
		<tr>
			<td>
				<h2>
					<center>
						<div class="alert alert-primary" role="alert">
						@TempData["Show_User_Messages"]
						</div>
					</center>
				</h2>
			</td>
		</tr>
	</table>
}

<script>
function ShowPassowrdText(ctrl_obj,password_id) {
	var x = document.getElementById(password_id);
	if ($(ctrl_obj).hasClass('fa-eye-slash')) {
		$(ctrl_obj).removeClass('fa-eye-slash').addClass('fa-eye');
		x.type = "text";
	} else {
		$(ctrl_obj).removeClass('fa-eye').addClass('fa-eye-slash');
		x.type = "password";
  }

  //if (ctrl_obj.checked == true) {
  //  x.type = "text";
  //} else {
  //  x.type = "password";
  //}
}
</script>

<form method="post" asp-area="" asp-controller="Login" asp-action="DoChangePassword">
<table align="center">
	<tr>
		<td>
			<h1 class="text-center"><i class="fa-solid fa-user-lock"></i> Change Your Password</h1><hr class="mb-4"></hr>

			<div class="form-group row mx-0 mb-1">
					<label class="form-control col-lg-4 px-0"><font color="red">*</font>Password:</label>
					<input type="password" name="Password" id="Password" class="form-control col-lg-6" placeholder="Password" required="" />
					@*<label class="form-control col-lg-4 px-0"></label>*@
					<label class="form-control col-lg-2 border-0 px-2"><i class="fa-solid fa-eye-slash text-info" onclick="ShowPassowrdText(this,'Password')"></i></label>
			</div>
	
			<div class="form-group row mx-0 mb-1">
					<label class="form-control col-lg-4 px-0"><font color="red">*</font>New Password:</label>
					<input type="password" name="NewPassword" id="NewPassword" class="form-control col-lg-6" placeholder="New Password" required="" minlength="@ViewBag.PasswordChangeRuleMinLength" />
					@*<label class="form-control col-lg-4 px-0"> Are at least @ViewBag.PasswordChangeRuleMinLength alphanumeric characters long.</label>*@
					<label class="form-control col-lg-2 border-0 px-2"><i class="fa-solid fa-eye-slash text-info" onclick="ShowPassowrdText(this,'NewPassword')"></i></label>
			</div>
	
			<div class="form-group row mx-0 mb-1">
					<label class="form-control col-lg-4 px-0"><font color="red">*</font>New Password Again:</label>
					<input type="password" name="NewPassword2" id="NewPassword2" class="form-control col-lg-6" placeholder="New Password Again" required="" minlength="@ViewBag.PasswordChangeRuleMinLength"/>
					@*<label class="form-control col-lg-4 px-0"> Contain both upper and lower case characters (e.g., a-z, A-Z)</label>*@
					<label class="form-control col-lg-2 border-0 px-2"><i class="fa-solid fa-eye-slash text-info" onclick="ShowPassowrdText(this,'NewPassword2')"></i></label>
			</div>

			<div class="form-group row mx-0 mb-1">
					<span class="col-lg-4 px-0"></span>
					<button type="submit" class="btn btn-primary col-lg-6 rounded-pill">Reset Password</button>
					<span class="col-lg-2 px-0"></span>
			</div>
		</td>
	</tr>
	<tr>
		<td class="pt-3">
			<span class="text-danger"><i class="fa-solid fa-triangle-exclamation"></i> Notice</span> :
			<div class="pl-2">
				Are at least @ViewBag.PasswordChangeRuleMinLength alphanumeric characters long.<br> Contain both upper and lower case characters (e.g., a-z, A-Z)<br>If the change is successful, the system<span class="text-danger"> will automatically log out, Please log in again.</span>
			</div>
		</td>
	</tr>
</table>
</form>



