@model KMU.HisOrder.MVC.Areas.HisOrder.ViewModels.PrintClass
@using KMU.HisOrder.MVC.Models

@{
    Model.FormTitle = "Medical Record (Diwaanka caafimaadka)";
    List<Hisorderplan> IcdOrder = Model.OrderData.Where(c => c.HplanType == "ICD").ToList();
}

<div id="MedicalRecordPage" class="page">
    <table class="PageContainerTable">
        <thead>
            <tr>
                <td class="PageFormTitleTd">
                    <h2 class="PageFormTitle">@Model.FormTitle</h2>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="header-space"></div>
                </td>
            </tr>
        </thead>
        <tbody style="vertical-align: top;">
            <tr>
                <td>
                    <div class="PageContent" style="word-break: break-all;">
                        @if (IcdOrder.Count() > 0)
                        {
                            <h3 style="font-style:italic;">※ Diagnosis</h3>
                            @for (int i = 0; i < IcdOrder.Count(); i++)
                            {
                                <span>@(i + 1). @IcdOrder[i].PlanCode @IcdOrder[i].PlanDes</span>
                                <br />
                            }
                        }

                        @if (Model.Ordersoa != null && Model.Ordersoa.Count() > 0)
                        {
                            if (Model.GlobalVariable.Clinic.InhospType == "EMG")
                            {
                                <hr style="border-style:dashed; border-color:#ccc;"></hr>
                            }

                            foreach (PrintHisordersoa soa in Model.Ordersoa)
                            {
                                if (Model.GlobalVariable.Clinic.InhospType == "EMG")
                                {
                                    <h4 style="font-style:italic;">※ Ver. @soa.Version @(string.Format("{0:dd/MM/yyyy}", soa.CreateDate))</h4>
                                }

                                if (!string.IsNullOrWhiteSpace(soa.ClinicRemarks))
                                {
                                    <h3 style="font-style:italic;">※ Clinic Remarks</h3>
                                    <pre>@Html.Raw(soa.ClinicRemarks)</pre>
                                }
                                if (!string.IsNullOrWhiteSpace(soa.Management))
                                {
                                    <h3 style="font-style:italic;">※ Management</h3>
                                    <pre>@Html.Raw(soa.Management)</pre>
                                }

                                if (Model.GlobalVariable.Clinic.InhospType == "EMG")
                                {
                                    <hr style="border-style:dashed; border-color:#ccc;"></hr>
                                }
                            }

                            @if (!string.IsNullOrWhiteSpace(Model.Ordersoa[0].Transfer)){
                                <h3 style="font-style:italic;">※ Transfer</h3>
                                <pre>@Html.Raw(Model.Ordersoa[0].Transfer)</pre>
                            }
                        }
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>
                    <div class="footer-space"></div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

