@model KMU.HisOrder.MVC.Areas.HisOrder.ViewModels.PrintClass
@using KMU.HisOrder.MVC.Models
@inject KMU.HisOrder.MVC.Models.KMUContext _context

@{
    Model.FormTitle = "Prescription Pharmacy (Farmasii)";
    List<Hisorderplan> MedOrder = Model.OrderData.Where(c => c.HplanType == "Med").ToList();
    //var MedBagOrder = new List<Hisorderplan>();
    List<Hisorderplan> IcdOrder = Model.OrderData.Where(c => c.HplanType == "ICD").ToList();
    List<Hisorderplan> SupplyOrder = Model.OrderData.Where(c => c.HplanType == "Supply").OrderBy(c => c.LocationCode).ToList();
    var Locations = ViewData["Locations"] as List<KmuCoderef>;
    List<string> GroupByOrderLocation = SupplyOrder.GroupBy(c => c.LocationCode).Select(g => g.Key).ToList();
}

<div id="PrescriptionPage" class="page">
    <table class="PageContainerTable">
        <thead>
            <tr>
                <td class="PageFormTitleTd">
                    <h2 class="PageFormTitle">@Model.FormTitle</h2>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="header-space"></div>
                </td>
            </tr>
        </thead>
        <tbody style="vertical-align: top;">
            @if (MedOrder.Count > 0)
            {
                <tr>
                    <td>
                        <div class="PageContent">
                            <!-- 區分藥袋列印 -->
                            @*            @if (MedOrder.Count() > 0)
                        {
                        @for (int i = 0; i < MedOrder.GroupBy(c => c.MedBag).Count(); i++)
                        {
                        <h4 style="font-style:italic;">※ Med Bag. @(i + 1)</h4>
                        <table id="MedDetailTable" class="DetailContentTable">
                        <thead>
                        <tr style="text-decoration:underline;">
                        <th></th>
                        <th>Medication</th>
                        <!--<th>SingleDose</th>-->
                        <th>Unit</th>
                        <th>Route</th>
                        <th>Freq.</th>
                        <!--<th>Indic.</th>-->
                        <!--<th>DailyDose</th>-->
                        <th>Days</th>
                        <th>Qty.</th>
                        </tr>
                        </thead>
                        <tbody style="vertical-align:top;">
                        @{
                        MedBagOrder = MedOrder.Where(c => c.MedBag == i + 1).ToList();
                        }
                        @for (int j = 0; j < MedBagOrder.Count(); j++)
                        {
                        <tr>
                        <td style="width:20px; max-width:20px">@(j + 1).</td>
                        <td style="width:135px; max-width:135px; white-space:normal;">@MedBagOrder[j].PlanDes</td>
                        <td>@MedBagOrder[j].QtyDose</td>
                        <td style="max-width: 80px; white-space: normal;">@MedBagOrder[j].UnitDose</td>
                        <td style="width: 135px; max-width: 135px; white-space: normal;">@MedBagOrder[j].DosePath</td>
                        <td>@MedBagOrder[j].FreqCode</td>
                        <!--<td>@MedBagOrder[j].DoseIndication</td>-->
                        <!--<td>@MedBagOrder[j].QtyDaily</td>-->
                        <td>@MedBagOrder[j].PlanDays</td>
                        <td>@MedBagOrder[j].TotalQty</td>
                        </tr>
                        }
                        </tbody>
                        </table>
                        <hr style="border-style:dashed; border-color:#ccc;"></hr>
                        }
                        }*@

                            <!-- 不分藥袋列印 -->
                            <table id="MedDetailTable" class="DetailContentTable" style="text-align:left;">
                                <thead style="vertical-align: bottom;">
                                    <tr>
                                        <th colspan="3" style="font-size: 25">Generic Name</th>
                                        <th colspan="3" style="font-size: 25">Brand Name</th>
                                    </tr>
                                    <tr style="text-decoration:underline;">
                                        <th>Route</th>
                                        <th>SingleDose</th>
                                        <th>Unit</th>
                                        <th>Freq.</th>
                                        <!--<th>Indic.</th>-->
                                        <!--<th>DailyDose</th>-->
                                        <th>Day</th>
                                        <th>Qty.</th>
                                    </tr>
                                    <tr>
                                        <td colspan="12">
                                            <hr style="margin:0px; border-style:solid; border-color:black;" />
                                        </td>
                                    </tr>
                                </thead>
                                <tbody style="vertical-align:top;">
                                    @for (int j = 0; j < MedOrder.Count(); j++)
                                    {
                                        <tr>
                                            <td colspan="3" style="white-space:normal;">@(j + 1). @MedOrder[j].PlanDes</td>
                                            @{

                                                var brandName = _context.KmuMedicines.Where(e => e.GenericName == @MedOrder[j].PlanDes).ToList().Take(1);
                                                foreach (var item in brandName)
                                                {

                                                    <td colspan="3" style="white-space:normal;">@item.BrandName</td>
                                                }
                                            }
                                        </tr>
                                        <tr>
                                            <td style="white-space:normal;">@MedOrder[j].DosePath</td>
                                            <td style="text-align:left;">@MedOrder[j].QtyDose</td>
                                            <td style="text-align:left;">@MedOrder[j].UnitDose x</td>
                                            <td style="text-align:left;">@MedOrder[j].FreqCode time x</td>
                                            <!--<td>@MedOrder[j].DoseIndication</td>-->
                                            <!--<td>@MedOrder[j].QtyDaily</td>-->
                                            <td style="text-align:left;">
                                                @MedOrder[j].PlanDays
                                                @{
                                                    if (MedOrder[j].PlanDays > 1)
                                                    {
                                                        <span>days</span>
                                                    }
                                                    else
                                                    {
                                                        <span>day</span>
                                                    }
                                                }
                                                x
                                            </td>
                                            <td style="text-align:left;">@MedOrder[j].TotalQty</td>
                                        </tr>
                                        @if (!string.IsNullOrWhiteSpace(MedOrder[j].Remark))
                                        {
                                            <tr>
                                                <td colspan="10">
                                                    <b>Remarks</b>：@MedOrder[j].Remark
                                                </td>
                                            </tr>
                                        }
                                        <tr>
                                            <td colspan="12">
                                                <hr style="margin:0px; border-style:dashed; border-color:#ccc;" />
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="12">
                        <hr style="margin:0px 35px 0px 35px; border-style:solid; border-color:black;" />
                    </td>
                </tr>
            }
            @if (SupplyOrder.Count() > 0)
            {

                <tr>
                    <td>
                        <div class="PageContent">
                            @*  @if (IcdOrder.Count() > 0)
                        {
                        <h3 style="font-style:italic;">※ Diagnosis</h3>
                        @for (int i = 0; i < IcdOrder.Count(); i++)
                        {
                        <span>@(i + 1). @IcdOrder[i].PlanCode @IcdOrder[i].PlanDes</span>
                        <br />
                        }
                        } *@
                            <h3 style="font-style:italic;">※ Material Item</h3>
                            <table id="ExamDetailTable" class="DetailContentTable">
                                <thead>
                                    <tr style="text-decoration:underline;">
                                        <th><!-- Sequence --></th>
                                        <th>ItemName</th>
                                        <th>Remarks</th>
                                        <th>Code</th>
                                        <th><!-- ItemType --></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (SupplyOrder.Count > 0)
                                    {
                                        <tr><td colspan="4"><hr style="margin:0px;" /></td></tr>
                                        @for (int i = 0; i < GroupByOrderLocation.Count(); i++)
                                        {
                                            @for (int j = 0; j < SupplyOrder.Where(c => c.LocationCode == GroupByOrderLocation[i]).Count(); j++)
                                            {
                                                <tr>
                                                    <td style="width:20px; max-width:20px">@(j + 1).</td>
                                                    <td style="width:250px; max-width:250px; white-space: normal;">@SupplyOrder.Where(c => c.LocationCode == GroupByOrderLocation[i]).ToList()[j].PlanDes</td>
                                                    <td style="width:150px; max-width:150px; white-space: normal; word-wrap: break-word;">@SupplyOrder.Where(c => c.LocationCode == GroupByOrderLocation[i]).ToList()[j].Remark</td>
                                                    <td>@SupplyOrder.Where(c => c.LocationCode == GroupByOrderLocation[i]).ToList()[j].PlanCode</td>
                                                </tr>
                                            }
                                            if (!string.IsNullOrWhiteSpace(GroupByOrderLocation[i]))
                                            {
                                                <tr>
                                                    <td colspan="4">
                                                        <h4>★` Location：@Locations.Where(c=>c.RefCode == GroupByOrderLocation[i]).Select(c=>c.RefName).FirstOrDefault()</h4>
                                                    </td>
                                                </tr>
                                            }
                                            <tr><td colspan="4"><hr style="margin:0px;" /></td></tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td>
                    <div class="footer-space"></div>
                </td>
            </tr>
        </tfoot>
    </table>

</div>
