@using KMU.HisOrder.MVC.Areas.HisOrder.ViewModels;
@model IEnumerable<VKmuNonMedicine>
@inject KMU.HisOrder.MVC.Models.KMUContext _context

@{

    var inhospitalid = TempData["InhospitalId"].ToString();
    var healthid = TempData["HealthId"].ToString();
    var nmType = TempData["NmType"];
    var Date = TempData["Date"];

    var dt = Date.ToString();

    var GroupbyList = Model.OrderBy(c => c.RefShowseq).GroupBy(x => new { x.GroupCode, x.RefName, x.ItemType});
    IEnumerable<VKmuNonMedicine> OtherList = Model.Where(c => c.ItemType != "Biography" && c.ItemType != "Hist" && c.ItemType != "DC" && c.ItemType != "PSHX" && c.ItemType != "AH" && c.ItemType != "MSE" && c.ItemType != "GPE" && c.ItemType != "PI" && c.ItemType != "DEV");

}

<style>
    .BiographyHeader {
        background-color: #006d92;
    }

    .HistHeader {
        background-color: #a881af;
    }

    .DCHeader {
        background-color: #4d3c77;
    }

    .PIHeader {
        background-color: #DD6E0F;
    }

    .PSHXHeader {
        background-color: #5E716A;
    }

    .AHHeader {
        background-color: #0E86D4;
    }

    .MSEHeader {
        background-color: #bb3e03;
    }

    .GPEHeader {
        background-color: #008B8B;
    }


    .Biography-body {
        /*border: 1px solid #c50049;*/
        border: 1px solid #006d92;
    }

    .Hist-body {
        /*border: 1px solid #c50049;*/
        border: 1px solid #a881af;
    }

    .DC-body {
        /*border: 1px solid #c50049;*/
        border: 1px solid #4d3c77;
    }

    .PI-body {
        /*border: 1px solid #c50049;*/
        border: 1px solid #DD6E0F;
    }

    .PSHX-body {
        /*border: 1px solid #c50049;*/
        border: 1px solid #5E716A;
    }

    .AH-body {
        /*border: 1px solid #c50049;*/
        border: 1px solid #0E86D4;
    }

    .MSE-body {
        /*border: 1px solid #c50049;*/
        border: 1px solid #bb3e03;
    }

    .GPE-body {
        /*border: 1px solid #c50049;*/
        border: 1px solid #008B8B;
    }


    .Biography-body > .ncd_items {
        border: 1px solid #006d92;
        padding: 5px;
        margin: 3px;
        border-radius: 10px;
    }

    .Hist-body > .ncd_items {
        border: 1px solid #a881af;
        padding: 5px;
        margin: 3px;
        border-radius: 10px;
    }

    .DC-body > .ncd_items {
        border: 1px solid #4d3c77;
        padding: 5px;
        margin: 3px;
        border-radius: 10px;
    }

    .PI-body > .ncd_items {
        border: 1px solid #DD6E0F;
        padding: 5px;
        margin: 3px;
        border-radius: 10px;
    }

    .PSHX-body > .ncd_items {
        border: 1px solid #5E716A;
        padding: 5px;
        margin: 3px;
        border-radius: 10px;
    }

    .AH-body > .ncd_items {
        border: 1px solid #0E86D4;
        padding: 5px;
        margin: 3px;
        border-radius: 10px;
    }

    .MSE-body > .ncd_items {
        border: 1px solid #bb3e03;
        padding: 5px;
        margin: 3px;
        border-radius: 10px;
    }

    .GPE-body > .ncd_items {
        border: 1px solid #008B8B;
        padding: 5px;
        margin: 3px;
        border-radius: 10px;
    }

    .bgheader {
        background-color: #D3D3D3;
    }

    .headerround {
        border: 1px solid;
        margin-right: 18px;
        padding: 10px;
        border-radius: 5px;
    }

    .textwrap {
        white-space: nowrap;
        max-width: 320px;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .vitalInput {
        margin-left: 20px;
        width: 100px;
        border: 0;
        outline: 0;
        background: transparent;
        border-bottom: 1px solid gray;
    }

</style>

<p hidden id="inhospitalid">@inhospitalid</p>
<p hidden id="healthid">@healthid</p>
<p hidden id="NmType">@nmType</p>
<p hidden id="Date">@dt</p>

@if (OtherList.Count() <= 0)
{
    <div id="All" class="row TabMenuColumn">

        <div class="NonMedMenu card-columns" style="width:100%; column-gap:7px;">
            @foreach (var item in GroupbyList)
            {
                switch (item.Key.ItemType)
                {
                    case "Biography":
                        <div class="card">
                            <div class="card-header NodeCardHeader BiographyHeader">
                                @item.Key.RefName
                            </div>
                            <div class="card-body NodeCardBody Biography-body">
                                @foreach (var Node in Model.Where(c => c.GroupCode == item.Key.GroupCode && c.ItemType == "Biography" && c.ItemSpec != "Comment"))
                                {
                                    var unChecked = _context.kmu_mental.Where(e => e.plancode == Node.ItemId && e.healthid == healthid).ToList();
                                    foreach (var a in unChecked)
                                    {
                                        <select class="selectedItems1" hidden>
                                            <option value="@a.plancode">@a.plandes</option>
                                        </select>
                                    }

                                    if (Node.enabled == true)
                                    {
                                        <div class="ncd_items textwrap p-2">
                                            <div class="row">
                                                <ul class="col-12" id="ncd">
                                                    <li style="padding-left: 10px;">
                                                        <input height="100" width="100" type="checkbox" class="checkbox  ncd ncd_input" value="@Node.ItemId" /> @Node.ItemName

                                                        <input class="form-control inp" type="text" name="@Node.ItemId" placeholder="Enter @Node.ItemName" />
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="ncd_items textwrap">
                                            <ul class="row" id="ncd"> <li style="padding-left: 10px;"><input height="100" width="100" type="checkbox" class="checkbox  ncd" value="@Node.ItemId" /> @Node.ItemName</li> </ul>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        break;
                    case "Hist":
                        <div class="card">
                            <div class="card-header NodeCardHeader HistHeader">
                                @item.Key.RefName
                            </div>
                            <div class="card-body NodeCardBody Hist-body">
                                @foreach (var Node in Model.Where(c => c.GroupCode == item.Key.GroupCode && c.ItemType == "Hist" && c.ItemSpec != "Comment"))
                                {
                                    var unChecked = _context.kmu_mental.Where(e => e.plancode == Node.ItemId && e.healthid == healthid).ToList();
                                    foreach (var a in unChecked)
                                    {
                                        <select class="selectedItems1" hidden>
                                            <option value="@a.plancode">@a.plandes</option>
                                        </select>
                                    }

                                    if (Node.enabled == true)
                                    {
                                        <div class="ncd_items textwrap p-2">
                                            <div class="row">
                                                <ul class="col-12" id="ncd">
                                                    <li style="padding-left: 10px;">
                                                        <input height="100" width="100" type="checkbox" class="checkbox  ncd ncd_input" value="@Node.ItemId" /> @Node.ItemName

                                                        <input class="form-control inp" type="text" name="@Node.ItemId" placeholder="Enter @Node.ItemName" />
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="ncd_items textwrap">
                                            <ul class="row" id="ncd"> <li style="padding-left: 10px;"><input height="100" width="100" type="checkbox" class="checkbox  ncd" value="@Node.ItemId" /> @Node.ItemName</li> </ul>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        break;
                    case "DC":
                        <div class="card">
                            <div class="card-header NodeCardHeader DCHeader">
                                @item.Key.RefName
                            </div>
                            <div class="card-body NodeCardBody DC-body">
                                @foreach (var Node in Model.Where(c => c.GroupCode == item.Key.GroupCode && c.ItemType == "DC" && c.ItemSpec != "Comment"))
                                {
                                    var unChecked = _context.kmu_mental.Where(e => e.plancode == Node.ItemId && e.healthid == healthid).ToList();
                                    foreach (var a in unChecked)
                                    {
                                        <select class="selectedItems1" hidden>
                                            <option value="@a.plancode">@a.plandes</option>
                                        </select>
                                    }

                                    if (Node.enabled == true)
                                    {
                                        <div class="ncd_items textwrap p-2">
                                            <div class="row">
                                                <ul class="col-12" id="ncd">
                                                    <li style="padding-left: 10px;">
                                                        <input height="100" width="100" type="checkbox" class="checkbox  ncd ncd_input" value="@Node.ItemId" /> @Node.ItemName

                                                        <textarea class="form-control inp" name="@Node.ItemId" placeholder="Enter @Node.ItemName" rows="4"></textarea>
                                                        @* <input class="form-control inp" type="text" name="inp" placeholder="Enter @Node.ItemName" /> *@
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="ncd_items textwrap">
                                            <ul class="row" id="ncd"> <li style="padding-left: 10px;"><input height="100" width="100" type="checkbox" class="checkbox  ncd" value="@Node.ItemId" /> @Node.ItemName</li> </ul>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        break;
                    case "PSHX":
                        <div class="card">
                            <div class="card-header NodeCardHeader PSHXHeader">
                                @item.Key.RefName
                            </div>
                            <div class="card-body NodeCardBody PSHX-body">
                                @foreach (var Node in Model.Where(c => c.GroupCode == item.Key.GroupCode && c.ItemType == "PSHX" && c.ItemSpec != "Comment"))
                                {
                                    var unChecked = _context.kmu_mental.Where(e => e.plancode == Node.ItemId && e.healthid == healthid).ToList();
                                    foreach (var a in unChecked)
                                    {
                                        <select class="selectedItems1" hidden>
                                            <option value="@a.plancode">@a.plandes</option>
                                        </select>
                                    }

                                    if (Node.enabled == true)
                                    {
                                        <div class="ncd_items textwrap p-2">
                                            <div class="row">
                                                <ul class="col-12" id="ncd">
                                                    <li style="padding-left: 10px;">
                                                        <input height="100" width="100" type="checkbox" class="checkbox  ncd ncd_input" value="@Node.ItemId" /> @Node.ItemName
                                                        <textarea class="form-control inp" name="@Node.ItemId" placeholder="Enter @Node.ItemName" rows="4"></textarea>

                                                        @* <input class="form-control inp" type="text" name="inp" placeholder="Enter @Node.ItemName" /> *@
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="ncd_items textwrap">
                                            <ul class="row" id="ncd"> <li style="padding-left: 10px;"><input height="100" width="100" type="checkbox" class="checkbox  ncd" value="@Node.ItemId" /> @Node.ItemName</li> </ul>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        break;
                    case "AH":
                        <div class="card">
                            <div class="card-header NodeCardHeader AHHeader">
                                @item.Key.RefName
                            </div>
                            <div class="card-body NodeCardBody AH-body">
                                @foreach (var Node in Model.Where(c => c.GroupCode == item.Key.GroupCode && c.ItemType == "AH" && c.ItemSpec != "Comment"))
                                {
                                    var unChecked = _context.kmu_mental.Where(e => e.plancode == Node.ItemId && e.healthid == healthid).ToList();
                                    foreach (var a in unChecked)
                                    {
                                        <select class="selectedItems1" hidden>
                                            <option value="@a.plancode">@a.plandes</option>
                                        </select>
                                    }

                                    if (Node.enabled == true)
                                    {
                                        <div class="ncd_items textwrap p-2">
                                            <div class="row">
                                                <ul class="col-12" id="ncd">
                                                    <li style="padding-left: 10px;">
                                                        <input height="100" width="100" type="checkbox" class="checkbox  ncd ncd_input" value="@Node.ItemId" /> @Node.ItemName
                                                        <textarea class="form-control inp" name="@Node.ItemId" placeholder="Enter @Node.ItemName" rows="4"></textarea>

                                                        @* <input class="form-control inp" type="text" name="inp" placeholder="Enter @Node.ItemName" /> *@
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="ncd_items textwrap">
                                            <ul class="row" id="ncd"> <li style="padding-left: 10px;"><input height="100" width="100" type="checkbox" class="checkbox  ncd" value="@Node.ItemId" /> @Node.ItemName</li> </ul>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        break;
                    case "MSE":
                        <div class="card">
                            <div class="card-header NodeCardHeader MSEHeader">
                                @item.Key.RefName
                            </div>
                            <div class="card-body NodeCardBody MSE-body">
                                @foreach (var Node in Model.Where(c => c.GroupCode == item.Key.GroupCode && c.ItemType == "MSE" && c.ItemSpec != "Comment"))
                                {
                                    var unChecked = _context.kmu_mental.Where(e => e.plancode == Node.ItemId && e.healthid == healthid).ToList();
                                    foreach (var a in unChecked)
                                    {
                                        <select class="selectedItems1" hidden>
                                            <option value="@a.plancode">@a.plandes</option>
                                        </select>
                                    }

                                    if (Node.enabled == true)
                                    {
                                        <div class="ncd_items textwrap p-2">
                                            <div class="row">
                                                <ul class="col-12" id="ncd">
                                                    <li style="padding-left: 10px;">
                                                        <input height="100" width="100" type="checkbox" class="checkbox  ncd ncd_input" value="@Node.ItemId" /> @Node.ItemName
                                                        <input class="form-control inp" name="@Node.ItemId" placeholder="Enter @Node.ItemName" />

                                                        @*                                                         <input class="form-control inp" type="text" name="inp" placeholder="Enter @Node.ItemName" />
                                *@
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    }else
                                    {
                                        <div class="ncd_items textwrap">
                                            <ul class="row" id="ncd"> <li style="padding-left: 10px;"><input height="100" width="100" type="checkbox" class="checkbox  ncd" value="@Node.ItemId" /> @Node.ItemName</li> </ul>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        break;
                    case "GPE":
                        <div class="card">
                            <div class="card-header NodeCardHeader GPEHeader">
                                @item.Key.RefName
                            </div>
                            <div class="card-body NodeCardBody GPE-body">
                                @foreach (var Node in Model.Where(c => c.GroupCode == item.Key.GroupCode && c.ItemType == "GPE" && c.ItemSpec != "Comment"))
                                {
                                    var unChecked = _context.kmu_mental.Where(e => e.plancode == Node.ItemId && e.healthid == healthid).ToList();
                                    foreach (var a in unChecked)
                                    {
                                        <select class="selectedItems1" hidden>
                                            <option value="@a.plancode">@a.plandes</option>
                                        </select>
                                    }

                                    if (Node.enabled == true)
                                    {
                                        <div class="ncd_items textwrap p-2">
                                            <div class="row">
                                                <ul class="col-12" id="ncd">
                                                    <li style="padding-left: 10px;">
                                                        <input height="100" width="100" type="checkbox" class="checkbox  ncd ncd_input" value="@Node.ItemId" /> @Node.ItemName
                                                        <textarea class="form-control inp" name="@Node.ItemId" placeholder="Enter @Node.ItemName" rows="4"></textarea>

                                                        @*                                                         <input class="form-control inp" type="text" name="inp" placeholder="Enter @Node.ItemName" />
                                *@
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="ncd_items textwrap">
                                            <ul class="row" id="ncd"> <li style="padding-left: 10px;"><input height="100" width="100" type="checkbox" class="checkbox  ncd" value="@Node.ItemId" /> @Node.ItemName</li> </ul>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        break;
                    case "PI":
                        <div class="card">
                            <div class="card-header NodeCardHeader PIHeader">
                                @item.Key.RefName
                            </div>
                            <div class="card-body NodeCardBody PI-body">
                                @foreach (var Node in Model.Where(c => c.GroupCode == item.Key.GroupCode && c.ItemType == "PI" && c.ItemSpec != "Comment"))
                                {
                                    var unChecked = _context.kmu_mental.Where(e => e.plancode == Node.ItemId && e.healthid == healthid).ToList();
                                    foreach (var a in unChecked)
                                    {
                                        <select class="selectedItems1" hidden>
                                            <option value="@a.plancode">@a.plandes</option>
                                        </select>
                                    }

                                    if (Node.enabled == true)
                                    {
                                        <div class="ncd_items textwrap p-2">
                                            <div class="row">
                                                <ul class="col-12" id="ncd">
                                                    <li style="padding-left: 10px;">
                                                        <input height="100" width="100" type="checkbox" class="checkbox  ncd ncd_input" value="@Node.ItemId" /> @Node.ItemName
                                                        <textarea class="form-control inp" name="@Node.ItemId" placeholder="Enter @Node.ItemName" rows="4"></textarea>

                                                        @*                                                         <input class="form-control inp" type="text" name="inp" placeholder="Enter @Node.ItemName" />
                                *@
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="ncd_items textwrap">
                                            <ul class="row" id="ncd"> <li style="padding-left: 10px;"><input height="100" width="100" type="checkbox" class="checkbox  ncd" value="@Node.ItemId" /> @Node.ItemName</li> </ul>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        break;
                    case "DEV":
                        <div class="card">
                            <div class="card-header NodeCardHeader HistHeader">
                                @item.Key.RefName
                            </div>
                            <div class="card-body NodeCardBody Hist-body">
                                @foreach (var Node in Model.Where(c => c.GroupCode == item.Key.GroupCode && c.ItemType == "DEV" && c.ItemSpec != "Comment"))
                                {
                                    var unChecked = _context.kmu_mental.Where(e => e.plancode == Node.ItemId && e.healthid == healthid).ToList();
                                    foreach (var a in unChecked)
                                    {
                                        <select class="selectedItems1" hidden>
                                            <option value="@a.plancode">@a.plandes</option>
                                        </select>
                                    }

                                    if (Node.enabled == true)
                                    {
                                        <div class="ncd_items textwrap p-2">
                                            <div class="row">
                                                <ul class="col-12" id="ncd">
                                                    <li style="padding-left: 10px;">
                                                        <input height="100" width="100" type="checkbox" class="checkbox  ncd ncd_input" value="@Node.ItemId" /> @Node.ItemName
                                                        <textarea class="form-control inp" name="@Node.ItemId" placeholder="Enter @Node.ItemName" rows="4"></textarea>

                                                        @*                                                         <input class="form-control inp" type="text" name="inp" placeholder="Enter @Node.ItemName" />
                                *@
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="ncd_items textwrap">
                                            <ul class="row" id="ncd"> <li style="padding-left: 10px;"><input height="100" width="100" type="checkbox" class="checkbox  ncd" value="@Node.ItemId" /> @Node.ItemName</li> </ul>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        break;
                }
            }
        </div>
    </div>
}
else
{
    <!-- Supply & Other-->
    @*<div id="SupplyMenu" class="row" style="width:100%;">
        <div class="TabMenuColumn">
            <table id="SupplyMenuTable" class="table table-striped jambo_table MenuTable">
                <thead>
                    <tr>
                        <th>
                            Code
                        </th>
                        <th>
                            Name
                        </th>
                        <th style="display:none;"><!--ItempType--></th>
                        <th style="display:none;"><!--Remark--></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in OtherList)
                    {
                        <tr class="SupplyMenutr" ondblclick="AddNonMedData(event,null,this)">
                            <td class="ItemId">
                                @Html.DisplayFor(modelItem => item.ItemId)
                            </td>
                            <td class="ItemName">
                                @Html.DisplayFor(modelItem => item.ItemName)
                            </td>
                            <td class="ItemType" style="display:none;">
                                @Html.DisplayFor(modelItem => item.ItemType)
                            </td>
                            <td class="Remark" style="display:none;">
                                @Html.DisplayFor(modelItem => item.Remark)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>*@
}
<div class="row headerround shadow p-3 mb-2">
    <button class="btn form-control btn-primary btn-sm col-md-12 save"><i class="fa-solid  fa-save"></i> Save</button>
</div>

<script>
    $(document).ready(function () {

        var arr = [];

        $('.selectedItems').each(function (k, v) {
            var conceptName = $(v).find(":selected").val();
            arr.push(conceptName);
        })
        $(arr).each(function (k, v) {
            $(`input[value = ${v}]`).prop("checked", true);
        })

        var arr1 = [];
        var pdes = [];

        var obj = {};


        $('.selectedItems1').each(function (k, v) {
            var conceptName = $(v).find(":selected").val();
            var plandes = $(v).find(":selected").text();

            arr1.push(conceptName);
            pdes.push(plandes);

            obj[conceptName] = plandes;
        })

        $.each(obj, function (key, value) {
            console.log(key, value);

            $(`input[value = ${key}]`).prop("checked", true);
            $(`input[name = ${key}].inp`).prop("value", value);
            $(`textarea[name = ${key}].inp`).prop("value", value);
        });


        $(".save").on("click", function () {
            var inhospitalId = $("#inhospitalid").text();
            var healthid = $("#healthid").text();
            var NmType = $("#nmType").text();
            var date = $("#Date").text();

            $("#ncd li").each(function (k, v) {
                var value = $(v).find(".ncd:checked").val();
                var inp = $(v).find(".inp").val();

                if (value != undefined) {

                    var ids = $(v).find(".ncd").val();

                    $.ajax({
                        type: "post",
                        url: "/HisOrder/Mental/SaveMnt",
                        data: {
                            inhospitalId: inhospitalId,
                            healthId: healthid,
                            NmType: NmType,
                            items: ids,
                            inps: inp,
                            date: date
                        },
                        success: function (response) {
                            layer.msg('Saved Successfully', { time: 2200, icon: 1 });
                        }
                    })//ajax end
                }
                else {
                    layer.msg("Select at least one item");
                }
            })
        })
    });
</script>